.header {
  min-height: 75vh;
  background: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)),
    url(../images/desktop/image-hero.jpg) no-repeat;
  background-size: cover;
  color: $white;

  @include media-phone {
    background: linear-gradient(rgba($black, 0.3), rgba($black, 0.3)),
      url(../images/mobile/image-hero.jpg) no-repeat;
  }

  &__text {
    margin-top: 14rem;
    margin-left: 12rem;
    padding: 1.6rem;
    border: 2px solid $white;
    max-width: 55rem;

    @include media-tablet {
      margin-top: 10rem;
      max-width: 33rem;
    }

    & h1 {
      @include cap-text;
      font-size: 6rem;
      font-weight: 300;

      @include media-tablet {
        font-size: 4rem;
      }
    }
  }
}

.container {
  max-width: 100%;
  position: relative;
}
